.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 28px;
    font-weight: bold;
  }