.filterBar {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
}

.filterBar__icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filterBar__select {
    padding: 5px;
    outline: none;
    cursor: pointer;
}